extends ../node_modules/jade-bootstrap/_bootstrap
append styles
  link(rel="stylesheet" href="stylesheets/style.css")

head
  title=title

block body
  +navbar(title)
    +nav_item("/", "active") Home
    +nav_item("/list") Letters
    +nav_item
      form(action="/search", method="get")
        input(type="text", name="searchString")
        input(type="submit" value="Search")
  .container
    h1 Document
    .container
      p !{content}
