body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

title{
  display: inline;
}

.result{
  padding: 10px;
}
nav
  .brand-logo
    margin-left 20px
  form
    margin-left 180px
    width 300px
